.ipynb_checkpoints/multiple-linear-regression-checkpoint.ipynb
.ipynb_checkpoints/logestic_regression_gradient_descent-checkpoint.ipynb
.ipynb_checkpoints/svm-checkpoint.ipynb
.ipynb_checkpoints/naive_bayes_theorem-checkpoint.ipynb
